/*********************************/
/*                               */
/*         REGLES CSS            */
/*                               */
/*********************************/

/*Définition de la police et des marges pour la page*/

body
{
    font-family: 'Raleway', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 8px;
    box-sizing: content-box;
}

/*_______________________________________________*/

/*PARAMETRES DU HEADER*/

/*Titre h2 en gras*/

h2
{
    font-weight: 700;
}


/*Définition du bloc logo + liens en tant que flexbox + marges*/


#bloc_logo_liens
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

/*hauteur des liens de navigation*/
#nav
{
    height: 75px;
}


/*Définition des dimensions du bloc de navigation
Définition du bloc en tant que flexbox
espacement des éléments dans la flexbox
centrage des éléments*/

#liens
{
    min-width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Liens du menu non soulignés*/
a
{
    text-decoration: none;
    color: black;
}

/*Surlignement des liens au survol*/
header a:hover
{
    height: 55px;
    color: #0065FC;
    border-top: 2px solid #0065fc;
    padding-top: 35px;
}

/*FIN DES PARAMETRES DU HEADER*/

/*_______________________________________________*/


/*PARAMETRES DU BLOC DE RECHERCHE*/


/*Formulaire de recherche*/
form
{
    display: flex;
    flex-direction: row;
}

/*loupe en remplacement du bouton recherche
désactivée sur 992px*/
#loupe
{
    display: none;
}

/*lien du bouton d'envoi*/
#envoi
{
    font-weight: 700;
    color: white;
}

/*Bloc du bouton d'envoi*/
#recherche_button
{
    background-color: #0065fc;
    padding: 1%;
    border-radius: 0 15px 15px 0;
}

/*Couleur de fond autour de l'icone de localisation
arrondissement des bordures*/

#bloc_couleur
{
    padding: 1%;
    border-radius: 9px 0 0 9px;
    background-color: #f2f2f2;
}

/*Positionnement de l'icone de localisation*/
#recherche div i
{
    position: absolute;
    left: 1%;
    top: 1%;
}

/*arrondissement de la bordure du côté droit
définition de la couleur de fond
définition de la couleur de police
hauteur du champ*/

#champ
{
    font-weight: 700;
    font-size: 1.2em;
    border:  none;
    padding: 1%;
}
/*FIN DES PARAMETRES DU FORMULAIRE DE RECHERCHE*/

/*_______________________________________________*/


/*BLOC FILTRES*/
/*Définition en tant que flexbox
alignement horizontal
centrage des éléments
dimension de la boîte
espacement horizontal des éléments
mise en gras de la police*/

#filtres
{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    position: relative;
    top: 50px;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
}

/*espacement du contenu des filtres*/
#filtres p
{
    margin-right: 2%;
}


/*Classes de filtres
définition en tant que flexbox
espacement horizontal
bordure + arrondi boudure
définition des marges intérieures*/

.filtre
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid grey;
    border-radius: 27px;
    margin-right: 2%;
    padding-right: 3%;
    height: 50px;
}

/*espacement du texte mis en valeur du bloc filtres*/
.bloc_filtres span
{
    padding-right: 3%;
    padding-left: 3%;
}

/*Définition de bloc filtres en tant que flexbox
orientation en ligne
définition de la largeur*/
#bloc_filtres
{
    display: flex;
    flex-direction: row;
    min-width: 80%;
}

/*Coloration en bleu au passage de la souris*/
.filtre:hover
{
    background-color: #0065EF;
}

/*icones des filtres
définition de la couleur de fond
arrondi de la bordure
marges intérieures*/

.icone
{
    color: #0065fc;
    background-color: #DEEBFF;
    border-radius: 25px;
    padding: 20px;
    margin-left: -2px;
    height: 13px;
}

/*filtre animaux
longueur du bloc*/

/*hauteur du bloc animaux autorisés*/
#animaux
{
    width: 130px;
}

/*Catégories des filtres
marges internes*/

figcaption
{
    padding-left: 1%;
    padding-right: 10px;
    font-size: 0.9em;
}
/*FIN DU BLOC FILTRES*/

/*_______________________________________________*/


/*BLOC D'INFORMATIONS*/
/*définition en tant que flexbox
centrage vertical des éléments
dimension
espacement horizontal*/

#bloc_info
{
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/*icone informations
définition en tant que flexbox
centrage horizontal
définition de la bordure
arrondi de la bordure
dimension*/

#info
{
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    width: 1.7%;
    height: 20px;
    border-radius: 45%;
    color: #0065fc;
}

/*bloc d'informations complémentaires
définition en tant que flexbox
espacement à gauche*/
#infos
{
    display: flex;
    padding-left: 3%;
}
/*FIN DU BLOC D'INFORMATIONS*/

/*_______________________________________________*/


/*SECTION HEBERGEMENT - LES PLUS POPULAIRES*/



/*définition en tant que flexbox
positionnement relatif des blocs
*/
#hebergement
{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

/*_______________________________________________*/


/*SECTION HEBERGEMENT*/

/*Propriétés du bloc de cartes*/
#card_hebergement
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 64%;
    background-color: #f2f2f2;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 25px;
}

/*espacement à gauche du sous-titre*/
#titre_hebergement
{
    margin-left: 3%;
}

/*Cartes de la section Hébergements
définition en tant que flexbox
mise à al ligne automatique*/
#cards
{
    display: flex;
    flex-wrap: wrap;

}

/*Coloration en bleu des liens au survol*/
#card_hebergement a:hover
{
    color: #0065FC;
}

/*Propriétés de chaque carte*/
.card
{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 30%;
    height: 250px;
    margin-left: 2.5%;
    margin-top: 2%;
    background-color: white;
    border-radius: 25px;
}

/*Dimensionnement des photos*/
.photo
{
    max-height: 155px;
}

/*Réglage de la hauteur des photos*/
#cards figure
{
    margin: 0;
    height: 40%;
}

/*Positionnement de l'image de chaque carte
centrage de la photo dans le cadre
arrondi des bordures*/
.photo
{
    width: 94%;
    height: 95%;
    object-fit: cover;
    margin-left: 3%;
    margin-top: 3%;
    border-radius: 15px 15px 0 0;
}

/*Coloration en bleu des étoiles de notation*/
#card_hebergement i
{
    color: #0065fc;
}

/*Alignement du texte sous les photos*/
.card_body
{
    text-align: left;
    padding-left: 3%;
    box-sizing: border-box;
}

/*Bouton afficher plus*/
#afficher
{
    position: relative;
    font-weight: 700;
    font-size: 1.1em;
    margin-top: 4%;
    padding-top: 2%;
    padding-left: 3%;
    margin-bottom: 25px;
}

/*Désactivation du soulignement du lien au passage de la souris*/
#afficher a:hover
{
    text-decoration: none;
}

/*FIN DE LA SECTION HEBERGEMENT*/

/*_______________________________________________*/


/*SECTION LES PLUS POPULAIRES*/

/*Propiriétés du bloc*/
#card_populaires
{
    width: 32%;
    margin-left: 1%;
    background-color: #f2f2f2;
    border-radius: 25px;
}

/*Propriétés du bloc sous-titre + icone
définition en tant que flexbox
centrage 
espacement des items*/
#titre_icone_pop
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*Proptiétés de chaque carte
définition en tant que flexbox
alignement horizontal
définition de la couleur de fond
hauteur et largeur des cartes*/
.card1
{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 25px;
    height: 150px;
    width: 80%;
    margin-left: 9%;
    margin-bottom: 10%;
}

/*Définition de la marge des textes de chaque carte*/
.card1 p
{
    margin-top: 4%;
}

/*Dimensionnement des photos*/
.photo_populaires
{
    width: 40%;
}

/*Positionnement des photos
centrage de la photo
dimensions de la photo*/
/*arrondi des coins de chaque photo*/
.photo_pop
{
    width: 95%;
    height: 140px;
    display: flex;
    border-radius: 25px 0 0 25px;
    margin-left: 5%;
    margin-top: 4.5%;
    object-fit: cover;
}


/*Positionnement du texte à côté des photos*/
.nom_prix
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding-left: 20px;
    padding-top: 5px;
}

/*Réglage de la hauteur de l'interligne des titres*/
.nom_prix h3
{
    margin-bottom: 0;
    margin-top: 0;
}

/*coloration en bleu des icones*/
.nom_prix i
{
    color: #0065FC;
}

/*FIN DE LA SECTION LES PLUS POPULAIRES*/

/*_______________________________________________*/


/*SECTION ACTIVITES*/

/*section activites
definition de la section en tant que flexbox
orientation en colonne
définition des marges*/
#activites
{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 4%;
}

/*Espacement à gauche du sous-titre*/
#activites h3
{
    margin-left: 2%;
}

/*bloc activites
définition du bloc en tant que flexbox
orientation en ligne*/
#bloc_activites
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/*blocs de la section
définition de la largeur des blocs*/
/*définition de la marge de séparation*/
#vieux_port, #pomegues-frioul, #calanques, #nd-longchamp
{
    width: 23%;
    height: 500px;
    margin-left: 1%;
    margin-right: 1%;
}

/*Dimensionnement des photos du vieux Port et des calanques*/
#vieux_port img, #calanques img
{
    height: 437.5px;
    object-fit: cover;
}

/*Dimensionnement de la carte du fort de Pomègues*/
#pomegues
{
    height: 192px;
}

/*Dimensionnement de la photo du fort de Pomègues*/
#pomegues img
{
    height: 129.5px;
    object-fit: cover;
}

/*Dimensionnement de la carte des îles du Frioul*/
#frioul
{
    height: 288px;
    padding-top: 20px;
}

/*Dimensionnement de la photo des îles du Frioul*/

#frioul img
{
    height: 225.5px;
    object-fit: cover;
}


/*blocs des activités
arrondi des bordures
ombrage de la bordure*/
#vieux_port, #pomegues, #frioul, #calanques, #notre-dame, #longchamp
{
    border-radius: 25px;
    box-shadow: 0 5px 5px #f2f2f2;
}


/*photos du bloc activités
largeur des photos
arrondi des bordures hautes*/
#bloc_activites img
{
    width: 100%;
    border-radius: 15px 15px 0 0;
}

/*textes des blocs activités
définition de l'épaisseur de la police*/
#bloc_activites p
{
    font-weight: 700;
}

/*Dimensionnement des cartes de Notre-Dame et Longchamp*/
#notre-dame, #longchamp
{
    height: 240px;
}

/*Dimensionnement des photos de Notre-Dame et Longchamp*/
#notre-dame img, #longchamp img
{
    height: 177.5px;
    object-fit: cover;
}

/*Définition de la marge haute de la carte de Longchamp*/
#longchamp
{
    margin-top: 20px;
}

/*Texte descriptif des activités
définition en tant que flexbox
alignement du texte
dilensionnement vertical
espacement à gauche*/
.nom_activite
{
    display: flex;
    align-items: flex-start;
    height: 62.5px;
    padding-left: 5%;
}

/*blocs de photos doubles
orientation en colonne*/
#pomegues-frioul, #nd-longchamp
{
    display: flex;
    flex-direction: column;
}

/*FIN DE LA SECTION ACTIVITES*/

/*_______________________________________________*/


/*FOOTER*/

/*footer
définition en tant que flexbox*/
footer
{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    margin-top: 50px;
    background-color: #f2f2f2;
    margin-bottom: 50px;
}

/*Espacement haut des liens*/
.footer_liens
{
    padding-top: 20px;
}


/*FIN DU CSS POUR LES ORDINATEURS*/


/*_______________________________________________*/
/*_______________________________________________*/


/****************************************/
/*                                      */
/*           MEDIA QUERIES              */
/*                                      */
/****************************************/


/*_______________________________________________*/



/****************************************/
/*                                      */
/*       POUR LES TABLETTES             */
/*                                      */
/****************************************/





@media screen and (max-width: 992px)
{
    /*Définition de la police et des marges pour la page*/

    body
    {
        font-family: 'Raleway', sans-serif;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 8px;
        box-sizing: content-box;
    }

/*_______________________________________________*/


/*PARAMETRES DU HEADER*/

/*Titre h2 en gras*/

h2
{
    font-weight: 700;
}


/*Définition du bloc logo + liens en tant que flexbox + marges*/
#bloc_logo_liens
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

/*hauteur des liens de navigation*/
#nav
{
    height: 75px;
}


/*Définition des dimensions du bloc de navigation
Définition du bloc en tant que flexbox
espacement des éléments dans la flexbox
centrage des éléments*/
#liens
{
    min-width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Liens du menu non soulignés*/

a
{
    text-decoration: none;
    color: black;
}

/*Surlignement des liens au survol*/
header a:hover
{
    height: 55px;
    color: #0065FC;
    border-top: 2px solid #0065fc;
    padding-top: 35px;
}

/*FIN DES PARAMETRES DU HEADER*/

/*_______________________________________________*/


/*PARAMETRES DU BLOC DE RECHERCHE*/


/*Formulaire de recherche*/
form
{
    display: flex;
    flex-direction: row;
}

/*loupe en remplacement du bouton recherche
désactivée sur 992px*/
#loupe
{
    display: none;
}

/*lien du bouton d'envoi*/
#envoi
{
    font-weight: 700;
    color: white;
}

/*Bloc du bouton d'envoi*/
#recherche_button
{
    background-color: #0065fc;
    padding: 1%;
    border-radius: 0 15px 15px 0;
}

/*Couleur de fond autour de l'icone de localisation
arrondissement des bordures*/
#bloc_couleur
{
    padding: 1%;
    border-radius: 9px 0 0 9px;
    background-color: #f2f2f2;
}

/*Positionnement de l'icone de localisation*/
#recherche div i
{
    position: absolute;
    left: 1%;
    top: 1%;
}

/*arrondissement de la bordure du côté droit
définition de la couleur de fond
définition de la couleur de police
hauteur du champ*/
#champ
{
    font-weight: 700;
    font-size: 1.2em;
    border:  none;
    padding: 1%;
}
/*FIN DES PARAMETRES DU FORMULAIRE DE RECHERCHE*/

/*_______________________________________________*/


/*BLOC FILTRES*/
/*Définition en tant que flexbox
alignement horizontal
centrage des éléments
dimension de la boîte
espacement horizontal des éléments
mise en gras de la police*/
#filtres
{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    position: relative;
    top: 50px;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
}

/*espacement du contenu des filtres*/
#filtres p
{
    margin-right: 2%;
}


/*Classes de filtres
définition en tant que flexbox
espacement horizontal
bordure + arrondi boudure
définition des marges intérieures*/
.filtre
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid grey;
    border-radius: 27px;
    margin-right: 2%;
    padding-right: 3%;
}


/*espacement du texte mis en valeur du bloc filtres*/
.bloc_filtres span
{
    padding-right: 3%;
    padding-left: 3%;
}

/*Définition de bloc filtres en tant que flexbox
orientation en ligne
définition de la largeur*/
#bloc_filtres
{
    display: flex;
    flex-direction: row;
    min-width: 80%;
}

/*Coloration en bleu au passage de la souris*/
.filtre:hover
{
    background-color: #0065EF;
}

/*icones des filtres
définition de la couleur de fond
arrondi de la bordure
marges intérieures*/
.icone
{
    color: #0065fc;
    background-color: #DEEBFF;
    border-radius: 25px;
    padding: 20px;
    margin-left: -2px;
    height: 13px;
}

/*filtre animaux
longueur du bloc*/
#animaux
{
    width: 130px;
}

/*Catégories des filtres
marges internes*/
figcaption
{
    padding-left: 1%;
    padding-right: 10px;
    font-size: 0.9em;
}
/*FIN DU BLOC FILTRES*/

/*_______________________________________________*/


/*BLOC D'INFORMATIONS*/
/*définition en tant que flexbox
centrage vertical des éléments
dimension
espacement horizontal*/
#bloc_info
{
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/*icone informations
définition en tant que flexbox
centrage horizontal
définition de la bordure
arrondi de la bordure
dimension*/
#info
{
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    width: 4%;
    height: 24px;
    border-radius: 45%;
    color: #0065fc;
}

/*bloc d'informations complémentaires
définition en tant que flexbox
espacement à gauche*/
#infos
{
    display: flex;
    padding-left: 3%;
}
/*FIN DU BLOC D'INFORMATIONS*/

/*_______________________________________________*/


/*SECTION HEBERGEMENT - LES PLUS POPULAIRES*/



/*définition en tant que flexbox
positionnement relatif des blocs
*/
#hebergement
{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin-top: 5%;

/*_______________________________________________*/



/*SECTION HEBERGEMENT*/

}

/*Propriétés du bloc de cartes*/
#card_hebergement
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    background-color: #f2f2f2;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 25px;
}

/*espacement à gauche du sous-titre*/
#titre_hebergement
{
    margin-left: 3%;
}

/*Cartes de la section Hébergements
définition en tant que flexbox
mise à la ligne automatique*/
#cards
{
    display: flex;
    flex-wrap: wrap;

}

/*Coloration en bleu des liens au survol*/
#card_hebergement a:hover
{
    color: #0065FC;
}

/*Propriétés de chaque carte*/
.card
{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 30%;
    height: 300px;
    margin-left: 2.5%;
    margin-top: 2%;
    background-color: white;
    border-radius: 25px;
}

/*Dimensionnement des photos*/
.photo
{
    max-height: 175px;
}


/*Réglage de la hauteur des photos*/
#cards figure
{
    margin: 0;
    height: 185px;
}

/*Positionnement de l'image de chaque carte
centrage de la photo dans le cadre
arrondi des bordures*/
.photo
{
    width: 94%;
    margin-left: 3%;
    margin-top: 3%;
    border-radius: 15px 15px 0 0;
}

/*Coloration en bleu des étoiles de notation*/
#card_hebergement i
{
    color: #0065fc;
}

/*Alignement du texte sous les photos*/
.card_body
{
    text-align: left;
    padding-left: 3%;
    box-sizing: border-box;
}

/*Bouton afficher plus*/
#afficher
{
    position: relative;
    font-weight: 700;
    font-size: 1.1em;
    margin-top: 2%;
    padding-top: 2%;
    padding-left: 3%;
}

/*Désactivation du soulignement du lien au passage de la souris*/
#afficher a:hover
{
    text-decoration: none;
}

/*FIN DE LA SECTION HEBERGEMENT*/

/*_______________________________________________*/


/*SECTION LES PLUS POPULAIRES*/

/*Propiriétés du bloc*/
#card_populaires
{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-left: 1%;
    background-color: #f2f2f2;
    border-radius: 25px;
}

/*Propriétés du bloc sous-titre + icone
définition en tant que flexbox
centrage 
espacement des items*/
#titre_icone_pop
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*Proptiétés de chaque carte
définition en tant que flexbox
alignement horizontal
définition de la couleur de fond
hauteur et largeur des cartes*/
.card1
{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 25px;
    height: 180px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2%;
}

/*Bloc de cartes
Définition en tant que flexbox
orientation en colonne
dimensionnement à 100%*/
#cards_pop
{
    display: flex;
    width: 100%;
    flex-direction: column;
}

/*Dimensionnement des photos*/
.photo_populaires
{
    width: 50%;
    height: 180px;
}

/*Positionnement des photos
centrage de la photo
dimensions de la photo*/
/*arrondi des coins de chaque photo*/
.photo_pop
{
    width: 250px;
    height: 160px;
    display: flex;
    border-radius: 25px;
    margin-left: 5%;
    margin-top: 4.5%;
    object-fit: cover;
}


/*Positionnement du texte à côté des photos*/
.nom_prix
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-left: 6%;
    align-content: space-around;
}

/*hauteur de l'interligne des titres*/
.nom_prix h3
{
    margin-bottom: 0;
    margin-top: 0;
}

/*coloration en bleu des icones*/
.nom_prix i
{
    color: #0065FC;
}

/*FIN DE LA SECTION LES PLUS POPULAIRES*/

/*_______________________________________________*/


/*SECTION ACTIVITES*/

/*section activites
definition de la section en tant que flexbox
orientation en colonne
définition des marges*/
#activites
{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    position: relative;
}

/*Espacement à gauche du sous-titre*/
#activites h3
{
    margin-left: 2%;
}

/*bloc activites
définition du bloc en tant que flexbox
orientation en ligne*/
#bloc_activites
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/*blocs de la section
définition de la largeur des blocs*/
/*définition de la marge de séparation*/
#vieux_port, #pomegues-frioul, #calanques, #nd-longchamp
{
    width: 23%;
    height: 500px;
    margin-left: 1%;
    margin-right: 1%;
}

/*Dimensionnement des photos du vieux Port et des calanques*/
#vieux_port img, #calanques img
{
    height: 437.5px;
    object-fit: cover;
}

/*Dimensionnement de la carte du fort de Pomègues*/
#pomegues
{
    height: 192px;
}

/*Dimensionnement de la photo du fort de Pomègues*/
#pomegues img
{
    height: 129.5px;
    object-fit: cover;
}

/*Photos de la section activités
définition des marges haute et basse*/
#vieux_port .image, #calanques .image, #pomegues .image, #frioul .image, #notre-dame .image, #longchamp .image
{
    margin-top: 0;
    margin-bottom: 0;
}

/*Dimensionnement de la carte des îles du Frioul*/
#frioul
{
    height: 288px;
    padding-top: 20px;
}

/*Dimensionnement de la photo des îles du Frioul*/
#frioul img
{
    height: 225.5px;
    object-fit: cover;
}


/*blocs des activités
arrondi des bordures
ombrage de la bordure*/
#vieux_port, #pomegues, #frioul, #calanques, #notre-dame, #longchamp
{
    border-radius: 25px;
    box-shadow: 0 5px 5px #f2f2f2;
}


/*photos du bloc activités
largeur des photos
arrondi des bordures hautes*/
#bloc_activites img
{
    width: 100%;
    border-radius: 15px 15px 0 0;
}

/*textes des blocs activités
définition de l'épaisseur de la police*/
#bloc_activites p
{
    font-weight: 700;
}

/*Dimensionnement des cartes de Notre-Dame et Longchamp*/
#notre-dame, #longchamp
{
    height: 240px;
}

/*Dimensionnement des photos de Notre-Dame et Longchamp*/
#notre-dame img, #longchamp img
{
    height: 177.5px;
    object-fit: cover;
}

/*Définition de la marge haute de la carte de Longchamp*/
#longchamp
{
    margin-top: 20px;
}

/*Texte descriptif des activités
définition en tant que flexbox
alignement du texte
dilensionnement vertical
espacement à gauche*/
.nom_activite
{
    display: flex;
    align-items: flex-start;
    height: 62.5px;
    padding-left: 5%;
}

/*blocs de photos doubles
orientation en colonne*/
#pomegues-frioul, #nd-longchamp
{
    display: flex;
    flex-direction: column;
}

/*FIN DE LA SECTION ACTIVITES*/

/*_______________________________________________*/


/*FOOTER*/

/*footer
définition en tant que flexbox*/
footer
{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #f2f2f2;
}

/*Espacement haut des liens*/
.footer_liens
{
    padding-top: 20px;
}
}

/*FIN DES REGLES CSS POUR LES TABLETTES*/


/*_______________________________________________*/
/*_______________________________________________*/


/******************************************/
/*                                        */
/*          POUR TELEPHONES               */
/*                                        */
/******************************************/


@media screen and (max-width: 768px)
{
    /*définition de la largeur de la page*/
    body
    {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    /*PARAMETRES DU HEADER*/


    /*Définition du bloc logo + liens en tant que flexbox
    orientation en colonne*/
    #bloc_logo_liens
    {
        display: flex;
        flex-direction: column;
    }

    /*liens de navigation
    définition en tant que flexbox
    espacement horizontal
    définition de la largeur et de la hauteur
    définition des marges
    bordures*/
    #liens
    {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 30px;
        padding-top: 10%;
        padding-bottom: 5%;
        border-bottom: 2px solid grey;
    }

    /*liens de navigation
    définition de la largeur de chaque lien
    alignement centré*/
    #liens a
    {
        width: 50%;
        text-align: center;
    }

    /*définition de la taille de police des liens*/
    header nav a
    {
     font-size: 0.8em;
 }

    /*animation au passage de la souris
    définition de la hauteur de soulignement
    définition de l'espacement haut
    soulignement en bleu
    mise à la couleur bleue de la police*/ 
    header a:hover
    {          
        height: 47px;
        padding-top: 25px;
        border-top: none;
        text-decoration: none;
        border-bottom: 2px solid #0065fc;
        color: #0065fc;
    }

    /*Définition de la hauteur de police de l'en-tête*/
    #en-tete
    {
        font-size: 0.9em;
    }

    /*Sous-titre de l'en-tête
    définition de l'espacement haut
    définition de la largeur*/
    #en-tete h2
    {
        padding-top: 80px;
        width: 90%;
    }

    /*Sous-titre et paragraphe de l'en-tête
    définition de l'espacement gauche*/
    #en-tete h2, #en-tete p
    {
        padding-left: 30px;
    }

/*FIN DES PARAMETRES DU HEADER*/

/*_______________________________________________*/


/*PARAMETRES DU BLOC DE RECHERCHE*/


    /*Formulaire
    définition de la largeur
    définition de l'espacement haut
    définition de la marge gauche*/
    form
    {
        width: 90%;
        padding-top: 30px;
        margin-left: 5%;
    }

    /*Champ de recherche du formulaire
    définition de la largeur*/
    form input
    {
        width: 100%;
    }

    /*Bouton de recherche du formulaire
    définition de la larguer
    arrondi des bordures*/
    #recherche_button
    {
        width: 30px;
        border-radius: 30%;
    }

    /*icone du bouton de recherche
    masquage du texte "Rechercher"*/
    #envoi
    {
        display: none;
    }

    /*icone du bouton de recherche
    affichage de l'icone de loupe
    définition en tant que flexbox
    définition de l'espacement
    arrondi des bordures
    couleur de la loupe en blanc*/
    #loupe
    {
        display: flex;
        background-color: #0065fc;
        padding: 2%;
        border-radius: 0 15px 15px 0;
        color: white;
        padding-left: 15%;
        padding-top: 12%;
    }

    /*FIN DES PARAMETRES DU BLOC DE RECHERCHE

    /*____________________________________________________*/

    /*PARAMETRES DU BLOC FILTRES*/

    /*bloc de filtres
    définition en tant que flexbox
    orientation en ligne
    alignement horizontal
    positionnement en relatif
    définition de la marge gauche
    définition de la largeur*/
    #filtres
    {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        position: relative;
        margin-left: 5%;
        width: 90%;
    }

    /*filtres
    définition en tant que flexbox inline
    orientation en ligne
    alignement horizontal
    mise à la ligne automatique*/
    #bloc_filtres
    {
        display: inline-flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    /*filtres
    définition de la largeur de chaque filtre (sauf animaux)
    définition de l'espacement droit
    définition de la marge du bas*/
    .filtre
    {
        min-width: 40%;
        padding-right: 4%;
        margin-bottom: 5%;
    }

    /*Coloration en bleu au passage de la souris*/
    .filtre:hover
    {
        background-color: #0065EF;
    }

    /*Filtre animaux autorisés
    définition de la largeur*/
    .animaux
    {
        min-width: 60%;
    }

    /*FIN DES PARAMETRES DU BLOC FILTRES*/

    /*_______________________________________________*/

    /*PARAMETRES DU BLOC INFORMATIONS*/

    /*bloc de texte complémentaire
    définition en tant que flexbox
    alignement horizontal
    définition de la largeur
    définition de la marge gauche
    alignement vertical*/ 
    #bloc_info
    {
        display: flex;
        justify-content: flex-start;
        width: 90%;
        margin-left: 5%;
        align-items: baseline;
    }

    /*icones du bloc d'informations complémentaires
    coloration en bleu
    définition de la largeur
    arrondi des bordures
    définition de la hauteur*/
    #info
    {
        color: #0065fc;
        width: 7%;
        border-radius: 50%;
        height: 18px;
    }

    /*texte du bloc d'informations complémentaires
    définition en tant que flexbox
    mise à la ligne automatique
    définition de l'espacement gauche*/
    #infos
    {
        display: flex;
        flex-wrap: wrap;
        padding-left: 4%;
    }

    /*FIN DES PARAMETRES DU BLOC INFORMATIONS*/

    /*__________________________________________________*/

    /*PARAMETRES DU BLOC HEBERGEMENT*/

    /*bloc hébergements - les plus populaires
    définition en tant que flexbox
    orientation en colonne inversée
    définition de la largeur
    positionnement relatif*/
    #hebergement
    {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        position: relative;
    }

    /*bloc hébergements 
    définition en tant que flexbox
    orientation en colonne
    définition de la largeur
    définition de la marge haute
    définition de la couleur de fond en transparent*/
    #card_hebergement
    {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        position: relative;
        margin-top: 5%;
        background-color: transparent;
    }

    /*cartes hébergement
    définition de la largeur de chaque carte
    centrage vertical*/
    .card
    {
        width: 90%;
        margin: auto;
    }

    
    /*cartes hébergement
    définition de la lerguer de chaque photo*/
    .photo
    {
        width: 90%;
    }

    /*informations sur l'hébergement
    définition de l'espacement haut*/
    #card_body
    {
        padding-top: 0%;
    }

    /*FIN DES PARAMETRES DU BLOC HEBERGEMENTS*/

    /*_________________________________________________*/

    
    /*PARAMETRES DU BLOC LES PLUS POPULAIRES*/

    /*bloc les plus populaires
    définition en tant que flexbox
    orientation en colonne
    définition de la lardeur
    annulation de l'arrondi des bordures
    définition des marges*/
    #card_populaires
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 50px;
    }

    /*bloc photo - informations
    définition en tant que flexbox
    arientaion du bloc en ligne
    centrage vertical
    définition de la largeur*/
    .card1
    {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 90%;
    }

    /*photos du bloc les plus populaires
    définition de la hauteur
    définition de la largeur*/
    .photo_populaires
    {
        height: 160px;
        width: 160px;
    }

    /*photos du bloc les plus populaires
    positionnement relatif
    dimensionnement des photos avec mise à l'échelle
    définition de l'arrondi des bordures
    définition de la marge gauche*/
    .photo_pop
    {
        position: relative;
        left: 10%;
        width: 160px;
        height: 160px;
        object-fit: cover;
        border-radius: 25px 0px 0 25px;
        margin-left: -3%;
    }

    /*bloc d'informations
    définition en tant que flexbox
    mise à la ligne automatique
    orientation en colonne
    alignement horizontal
    définition de l'espacement gauche
    positionnement relatif
    définition de la largeur*/
    .nom_prix
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 40px;
        position: relative;
        width: 60%;
    }

    /*FIN DES PARAMETRES DU BLOC LES PLUS POPULAIRES*/

    /*________________________________________________________*/


    /*PARAMETRES DU BLOC ACTIVITES/*

    /*bloc activités
    définition de la largeur
    positionnement relatif*/
    #activites
    {
        width: 100%;
        position: relative;
    }

    /*bloc activités
    définition en tant que flexbox de chaque élément
    orientation en colonne*/
    #bloc_activites
    {
        display: flex;
        flex-direction: column;
    }

    /*sous-titre du bloc activités
    définition de l'espacement gauche*/
    #activites h2
    {
        padding-left: 3%;
    }

    /*bloc activités - éléments
    définition de la largeur de chaque élément
    définition de la marge gauche*/
    #vieux_port, #pomegues-frioul, #calanques, #nd-longchamp
    {
        width: 90%;
        margin-left: 5%;
    }

    /*bloc activités - sous-éléments
    définition de la hauteur
    définition de la marge haute
    ombrage de la bordure*/
    #vieux_port, #pomegues, #frioul, #calanques, #notre-dame, #longchamp
    {
        height: 200px;
        margin-top: 50px;
        box-shadow: 0 5px 5px #f2f2f2;
    }

    /*éléments du bloc activités
    rognage des photos*/
    #vieux_port p, #pomegues p, #frioul p, #calanques p, #notre-dame p, #longchamp p
    {
        margin-top: 0;
        margin-bottom: 0;
        overflow: hidden;
    }

    /*photo des îles du Frioul
    cadrage de la photo*/
    #frioul
    {
        margin-top: 30px;
    }

    /*photos du bloc activités
    dimensionnement du cadre des photos*/
    .image
    {
        height: 150px;
    }

    /*photos du bloc activités
    définition de la hauteur des photos et mise à l'échelle*/
    #vieux_port img, #pomegues img, #frioul img, /*calanques img,*/ #notre-dame img, #longchamp img
    {
        height: 225px;
        object-fit: cover;
    }

    /*photos des calanques et du bloc notre-dame+longchamp
    positionnement relatif*/
    #calanques, #nd-longchamp
    {
        position: relative;
    }

    /*photos des calanques
    définition de la hauteur de la photo*/
    #calanques img
    {
        height: 250px;
    }

    
    /*texte complémentaire de l'activité
    définition de la hauteur
    définition des marges haute et basse
    dafinition en tant que flexbox
    alignement vertical*/
    .nom_activite
    {
        height: 50px;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
    }

    /*FIN DES PARAMETRES DU BLOC ACTIVITES*/

    /*________________________________________________*/


    /*PARAMETRES DU FOOTER*/

    /*pied de page
    définition en tant que flexbox
    orientation en colonne
    positionnement relatif
    définition de la marge gauche
    définition de la largeur
    définition de la marge basse*/
    footer
    {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 5%;
        width: 95%;
        margin-bottom: 50px;
    }
}

/*FIN DES REGLES CSS POUR LES TELEPHONES*/




